<section class="about-me">
    <div class="about-me-container container">
        <h2 class="about-me-title">Про мене</h2>
        <img src="./img/my-photo/my-photo.png" 
        alt="my-photo" 
        class="about-me-image"
        width="130" height="130">
        <p class="about-me-item">Я — Junior Frontend Developer,
        захоплений створенням сучасних,
        зручних і візуально привабливих
        веб-застосунків. Маю досвід роботи
        з HTML, CSS, JavaScript та
        популярними фреймворками, такими як React.
        Постійно вдосконалюю свої навички,
        вивчаючи нові технології та підходи до розробки.</p>
        <div class="education-container">
            <ul class="education-list">
                <h3 class="education-title">Освіта</h3>
                <li class="education-item">2023-2024 / Сертифікований Fullstack developer / GoIT-school</li>
                <li class="education-item">2020-2023 / Дипломований комп'ютерний інженер / ТФК Тернопільського Національного Технічного Університету іменні Івана Пулюя</li>

            </ul>
            <ul class="education-list">
                <h3 class="education-title">Роль</h3>
                <li class="education-item">Fullstack developer</li>
                <li class="education-item">Фаховий молодший бакалавр / Комп'ютерний інженер</li>
            </ul>
        </div>
    </div>
</section>