<section class="video-section">
    <div class="video-container container">
        <video class="background-video" autoplay loop muted playsinline>
            <source src="./img/background-video/background-video.mp4" type="video/mp4">
            <source src="./img/background-video/background-video.webm" type="video/webm">
        </video>
    </div>
    <div class="content">
        <button class="button-order" type="button">
            <a href="#" class="button-order-link">
                Запропонувати вакансію
            </a>
        </button>
    </div>
</section>