<section class="contacts-section">
    <div class="contacts-container container">
        <h2 class="contacts-title">Вперед до роботи!</h2>
        <ul class="contacts-list">
            <li class="contacts-item"><a href="mailto:antonskoro112@gmail.com" class="contacts-link">antonskoro112@gmail.com</a></li>
            <li class="contacts-item"><a href="tel:+380638946520" class="contacts-link">+(380)-63-89-46-520</a></li>
            <li class="contacts-item"><a href="t.me/Anton_2501" class="contacts-link">Телеграм</a></li>
        </ul>
        <div class="contact-form">
            <form class="form">
                <input type="text" class="form-input" placeholder="Email" name="username">
                <textarea name="feedback" id="" rows="5" placeholder="Message" class="form-textarea"></textarea>
                <button type="submit" class="send-button">Відправити</button></form>
        </div>
        <div class="backdrop">
            <div class="modal container">
                <button type="button" class="cls-btn">
                    <svg class="cls-btn-icon">
                        <use href="./img/icon.svg#icon-close"></use>
                    </svg>
                </button>
                <h3 class="modal-title">Дякую за вашу зацікавленість у співпраці!</h3>
                <p class="text-title">Я зв'яжуся з вами найближчим часом щоб обговорити деталі та можливості нашої співпраці. Будь ласка залишайтесь на зв'язку.</p>
            </div>
        </div>
    </div>
</section>