<section class="projects-section" id="projects-section">
    <div class="projects-container container">
        <h2 class="projects-title">Останні проєкти</h2>
        <ul class="projects-list">
            <li class="projects-item">
                <div class="project-object">
                    <h3 class="project-title">Web Studio</h3>
                    <a href="https://antonskoro10.github.io/web-studio/">
                        <img src="../img/projects-images/web-studio.jpg" 
                        alt="web-studio" 
                        class="project-image"
                        width="270"
                        height="200">
                    </a>
                </div>
            </li>
            <li class="projects-item">
                <div class="project-object">
                    <h3 class="project-title">Vyshyvanka Vibes</h3>
                    <a href="https://oleksiybodnia.github.io/Unbreakable/">
                        <img src="../img/projects-images/vyshyvanka-vibes.jpg" 
                        alt="vyshyvanka-vibes" 
                        class="project-image"
                        width="270"
                        height="200">
                    </a>
                </div>
            </li>
            <li class="projects-item">
                <div class="project-object">
                    <h3 class="project-title">CV Lloyd Jefferson</h3>
                    <a href="https://antonskoro10.github.io/CV-L.Jefferson/">
                        <img src="../img/projects-images/cv-lloyd-jefferson.jpg" 
                        alt="cv-lloyd-jefferson" 
                        class="project-image"
                        width="270"
                        height="200">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>