<section class="tech-skills">
    <div class="ticker">
        <div class="ticker-wrapper">
            <p class="ticker-item">
                <span class="ticker-span">HTML&CSS</span> 
                <span class="ticker-span">JavaScript</span>
                <span class="ticker-span">React</span> 
            </p>
            <p class="ticker-item">
                <span class="ticker-span">HTML&CSS</span>
                <span class="ticker-span">JavaScript</span>
                <span class="ticker-span">React</span>
                </p>
                <p class="ticker-item">
                    <span class="ticker-span">HTML&CSS</span>
                    <span class="ticker-span">JavaScript</span>
                    <span class="ticker-span">React</span>
                </p>
                <p class="ticker-item">
                    <span class="ticker-span">HTML&CSS</span>
                    <span class="ticker-span">JavaScript</span>
                    <span class="ticker-span">React</span>
                </p>
        </div>
    </div>
</section>