:root {
    font-family: SF Pro Display;
    font-size: 120px;
    
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 200;
    src: local('SF Pro Display Thin'),
    url('./fonts/FontsFree-Net-SFProDisplay-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    src: local('SF Pro Display Medium'),
    url('./fonts/FontsFree-Net-SFProDisplay-Medium-1.woff2') format('woff2');
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
 
}

